/* Reset default margins and padding */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

/* Set background color and text color */
body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Style header */
header {
    background-color: #6894c4;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Style navigation */
nav ul {
   text-align: center;
   color: #007bff;
   background-color: white;
}

section {
    background-color: #6894c4;
    color: white;
    text-align: center;
    padding: 1rem 0;
}