body, h1, h2, h3, ul, li, p{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* Set background color and font */
body {
    background-color: #001524;
    font-family: 'Changa', sans-serif;
    font-size: 16px;
}

/* Style header */
header {
    color: #FDE5D4;
    text-align: center;
    padding: 1rem 0;
}

/* Image styling */
.responsive {
    width: 10%;
    height: auto;
  }

section {
    text-align: center;
    padding: 1rem 0;
}

#about {
    color: rgb(248, 248, 248);
    background-color: #672323;
    margin: 0 auto; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 80%; 
    padding: 1rem 0;
    border-style: double;
    border-radius: 20px;
    border-width: 0.5cm;    
    border-color: #001524;
}
#faq {
    background-color: #ffffff;
    margin: 0 auto;
    width: 80%; 
    align-items: center;
    padding: 1rem 0;
    border-style: double;
    border-radius: 20px;
    border-width: 0.5cm; 
    border-color: #001524;
}
.faqdiv {
    margin: 3% 10%;
    text-align: left;
}
#subheading {
    color: rgb(216, 30, 70)
}
#ans {
    color: rgb(46, 69, 220);   
}
#projects {
    color: rgb(248, 248, 248);
    background-color: #672323;
    margin: 0 auto; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 80%; 
    padding: 1rem 0;
    border-style: double;
    border-radius: 20px;
    border-width: 0.5cm;  
    border-color: #001524;
}
#contact {
    background-color: #FDE5D4;
    margin: 0 auto; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 50%; 
    padding: 1rem 0;
    word-wrap: break-word;
    border-style: double;
    border-radius: 40px;
    border-width: 1cm;  
    border-color: #001524;
}
#demTable {
    width:80%;
    border:1px solid rgb(173, 174, 179);
    border-collapse:collapse;
    padding:7px;
    table-layout: fixed;
    margin: 3% 10%;
}
#demTable th {
    border:1px solid #b3adad;
    padding:7px;
    background: #001524;
    color: #ffffff;
    word-wrap: break-word;
}
#demTable td {
    border:1px solid #b3adad;
    text-align:center;
    padding:7px;
    background: #e6ddb3;
    color: #313030;
    word-wrap: break-word;
}
#worktable {
    width:80%;
    border:1px solid #b3adad;
    border-collapse:collapse;
    padding:7px;
    table-layout: fixed;    
    margin: 3% 10%;
}
#worktable th {
    border:1px solid #b3adad;
    padding:7px;
    background: #001524;
    color: #ffffff;
    word-wrap: break-word;
}
#worktable td {
    border:1px solid #b3adad;
    text-align:center;
    padding:7px;
    background: #e6ddb3;
    color: #313030;
    word-wrap: break-word;
}
contacttable {
    font-family: Helvetica, sans-serif;
    text-align:center;
    padding:7px;
    
}
.links {
    text-decoration: none; 
    padding: 0 4px;
    color: #666666;
}
.icon {
    width: 18px; height: 18px; text-align: center;
}
.leftcol {
    font-family: inherit; line-height: 18px;  width: 660px; padding-top: 4px; padding-left: 0; text-align: center;
}